{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <!-- breadcrumb start-->
    <section class="breadcrumb breadcrumb_bg align-items-center">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-sm-6">
                    <div class="breadcrumb_tittle text-left">
                        <h2>Connection au site</h2>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="breadcrumb_content text-right">
                        <p>Accueil<span>/</span>Vous connecter</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb start-->

<section class="all_post section_padding">
    <div class="container">
        <div class="col-lg-12">
            <form method="post" class="form-contact contact_form">
                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }},
                        <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal">Connectez vous</h1>
                <div class="row">
                    <div class="col-sm-3">
                        <label for="inputEmail">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" placeholder='Entrer votre email'
                               id="inputEmail" class="form-control" required autofocus>
                    </div>
                    <div class="col-sm-3">
                        <label for="inputPassword">Password</label>
                        <input type="password" name="password" placeholder='Votre mot de passe'
                               id="inputPassword" class="form-control" required>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
                </div>
                <div class="row">
                    <div class="col-sm-3">
                    <button class="load_btn" type="submit">
                        Connection
                    </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

{% endblock %}
