<section class="banner_post">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="banner_post_1 banner_post_bg_1">
                <div class="banner_post_iner text-center">
                    <a href="{{ path('galery') }}"><h2>Gallerie</h2></a>
                    <a href="{{ path('galery') }}"><h3>Notre savoir faire en quelques photos </h3></a>
                    <p>
                        <strong>Défrisage</strong>, Soins Capillaires, <strong>Brushing</strong>, Natte Collée,
                        <strong>Tresse Rasta</strong>, Faux Dreadlocks, <strong>Crochet Braid Piqué Laché</strong>,
                        Chignon, <strong>Coiffure de Cérémonies</strong>, Coiffure de Mariage,
                        <strong>Création</strong>, Composition, <strong>Conseil</strong>
                    </p>
                </div>
            </div>
            <div class="banner_post_1 banner_post_bg_2">
                <div class="banner_post_iner text-center">
                    <a href="{{ path('shop') }}"><h2>Notre Magasin</h2></a>
                    <a href="{{ path('shop') }}"><h3>Notre magasin en ligne. Venez faire votre shopping</h3></a>
                    <p>En construction. Bientôt ouvert avec tous nos articles de cosmétiques, mêches, perruques.<strong>
                            Produits et conseils de qualités grâce à plus de 20 ans d'expérience</strong>.
                    </p>
                </div>
            </div>
            <div class="banner_post_1 banner_post_bg_3">
                <div class="banner_post_iner text-center">
                    <a href="{{ path('contact') }}"><h2>Nous contacter</h2></a>
                    <a href="{{ path('contact') }}"><h3>Laissez nous votre message ou venez nous voir </h3></a>
                    <p><strong>Accueil tous les jours</strong>. Appelez pour prendre rendez-vous ou posez nous
                        toutes vos questions. Nous répondrons rapidement. Regardez la carte pour nous trouver
                        facilement.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>